<app-header></app-header><br>


<div class="container-fluid">
  <h1 style="text-align: center;">Students's Data</h1><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Id</th>
      <th scope="col">Contact No.</th>
      <th scope="col">City</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ student.name }}
      </td>
      <td>{{ student.id}}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.city  }}</td>

    </tr>
  </tbody>
</table>
</div><br>


<app-footer></app-footer>